<div class="nav-parent">
    <div class="search-logo">
      <img src="../../../assets/organization/Add.png" alt="" />
      <div class="search">
        <input
          type="text"
          id="searchInput"
          placeholder="Search employees or actions (Ex: Apply Leave)"
        />
      </div>
    </div>
    
    <div class="mr-4">
      <div  class="profile-action">
        <img src="../../assets/Ellipse 12.png" alt="" />
        <p class="m-0" >Admin</p>
        <!-- <i class="fa-solid fa-chevron-down"></i> -->
      </div>
      
    </div>
  </div>
  
  <!-- Logout Confirmation Dialog Template -->
  
  